.background {
  background-color: #222;
  display: block;
  z-index: -99999;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 500px;
  position: relative;
  top: -70px;
}

.container {
  position: relative;
  /* width: 800px; */
  margin: auto;
  transform: scale(0.7);
  text-align: center;
}
.border {
  width: 470px;
  height: 150px;
  background-color: #222;
  border: 3px solid #0cd808;
  position: absolute;
  top: 28px;
  border-radius: 10px;
  left: 50%;
  margin-left: -327px;
  box-shadow: 0 0 1px #b3ff51, 0 0 2px #b3ff51, 0 0 6px #b3ff51,
    0 0 12px #b3ff51, inset 0 0 1px #b3ff51, inset 0 0 2px #b3ff51,
    inset 0 0 6px #b3ff51, inset 0 0 12px #b3ff51;
  z-index: -9990;
  margin: auto;
  left: -50px;
  right: 0;
}
.blocker1 {
  width: 350px;
  height: 30px;
  position: absolute;
  top: 20px;
  /* left: 200px; */
  background-color: #222;
  z-index: -9990;
  box-shadow: 0 0 10px #222, 0 0 5px #222, 0 0 2px #222, 0 0 1px #222;
  margin: auto;
  left: 0;
  right: 0;
}
.blocker2 {
  width: 240px;
  height: 30px;
  position: absolute;
  bottom: 30px;
  /* left: 320px; */
  background-color: #222;
  z-index: -9990;
  box-shadow: 0 0 10px #222, 0 0 5px #222, 0 0 2px #222, 0 0 1px #222;
  margin: auto;
  left: 0;
  right: 0;
}
.neon1 {
  margin: -25px 0 -5px;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 100px;
  letter-spacing: 50px;
  color: #f90000;
  text-shadow: 0 0 1px #ff1919, 0 0 2px #ff1919, 0 0 6px #ff1919,
    0 0 12px #ff1919;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #db0808;
  position: relative;
  left: 20px;
}
.neon2 {
  margin: 0;
  padding: 0;
  line-height: 70px;
  font-family: 'League Script', cursive;
  font-size: 80px;
  color: #14a5ff;
  text-shadow: 0 0 1px #22cef9, 0 0 2px #22cef9, 0 0 6px #22cef9,
    0 0 12px #22cef9;
}

@import url(//db.onlinewebfonts.com/c/96ca0c2a94345ab35a855be0b667733c?family=League+Script);
@import url(//fonts.googleapis.com/css?family=Quicksand);

.padTop {
  margin-top: 20px;
}

.padTopImage {
  margin-top: 50px;
}

.basicfont {
  display: block;
  text-align: center;
  position: relative;
  font-family: 'Budokan Rounded', sans-serif;
  animation: animateFade 1s ease-in-out forwards;
  color: #fff;
}
